table.gdtable {
    border: 3px
}
td.gdtd {
    padding:1px;
    background-color:#444444
}
.gd {
    width:3em;
    height:3em
}
.gd-hidden {
    border:outset;
}
.gd-mine {
    border:none;
}
.gd-show {
    border:none;
}
.gd-show-mine1 {
    border:none;
    background-color:#FF0200;
}
.gd-show-mine2 {
    border:none;
    background-color:#19FF5E;
}
.gd-show-missed {
    border:none;
    background-color:yellow;
}
.smiley {
    font-size:3em;
    font-weight:bold;
}
